<%- include("./blocks/header.ejs") %>
<br><br><br><br><br><br>

<div class="container">
    <div class="jumbotron bg-dark text-white playerbox">
        <div class="moosic">
            <audio id="player" class="player" controls autoplay>
                <source src="<%= stream %>">
            </audio>
        </div>
        <br><br>
        <button id="button" class="btn btn-info" onclick="toggle()">Switch to Video</button>
        <br><br>
        <h3 class="text-responsive"><a href="<%= data.link %>" id="url" target="_blank"><%= data.title %></a></h3>
        <br>
        <h5>
            Artist: <%= data.author.name %>
        </h5>
    </div>
</div>

<script>
    var createPlayer = () => {
        return new Plyr('.player', {
            invertTime: false
        });
    };
    var pl;
    pl = createPlayer();
    function toggle() {
        let player = document.getElementById("player").tagName;
        if (player.toLowerCase() === "audio") {
            let lastp = {
                time: pl.currentTime,
                volume: pl.volume,
                muted: pl.muted,
                speed: pl.speed
            };
            $(".moosic").remove();
            document.getElementById("button").innerText = "Switch to Audio";
            let elm = '<div class="moosic"><video id="player" class="player" controls autoplay><source src="<%= stream %>"></video></div>'+$(".playerbox").html();
            $('.playerbox').html(elm);
            pl = createPlayer()
            .volume = lastp.volume
            .muted = lastp.muted
            .speed = lastp.speed;

            player.once('ready', () => {
                pl.currentTime = lastp.time;
            });
        } else {
            let lastp = {
                time: pl.currentTime,
                volume: pl.volume,
                muted: pl.muted,
                speed: pl.speed
            };
            $(".moosic").remove();
            document.getElementById("button").innerText = "Switch to Video";
            $('.playerbox').html('<div class="moosic"><audio id="player" class="player" controls autoplay><source src="<%= stream %>"></audio></div>' + $(".playerbox").html());
            pl = createPlayer()
            .volume = lastp.volume
            .muted = lastp.muted
            .speed = lastp.speed;

            player.once('ready', () => {
                pl.currentTime = lastp.time;
            });
        }
    }
</script>
<%- include("./blocks/footer.ejs") %>